.featured {
  &__title {
    &::after {
      display: block;
      width: 50px;
      height: 4px;
      margin: 15px auto 30px;
      background: #000;
      content: "";
      opacity: .8;
    }
  }

  &__item {
    padding-right: 5px;
    padding-left: 5px;

    &__image {
      padding-bottom: 100%;
      background-size: cover;
    }

    &__body {
      position: relative;
      overflow: hidden;
    }

    &__bg {
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
    }

    &__link {
      display: block;
    }

    &__content {
      position: absolute;
      width: 90%;
      top: auto;
      right: 0;
      bottom: 7.5px;
      left: auto;
      transform: translateY(50%);
    }

    &__text {
      margin: 0;
      padding: 5px;
      padding-right: 40px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, .6);
      color: #fff;
    }
  }

  &__slider {
    margin-right: -5px;
    margin-left: -5px;

    .slick-arrow {
      width: 50px;
      top: auto;
      bottom: 0;
      transform: translateY(0);
      opacity: .7;

      .fa {
        background-color: transparent;

        &::before {
          color: #000;
        }
      }

      &.slick-prev {
        left: auto;
        right: 50%;
      }

      &.slick-next {
        left: 50%;
        right: auto;
      }
    }

    &--front-page {
      .featured__item {
        width: 50%;
        margin-bottom: 10px;
        float: left;

        @include respond-to(xs) {
          width: 25%;
        }
      }

      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }
  }

  &__blocks {
    overflow: hidden;
  }

  &__block {
    margin-top: 0;
    margin-bottom: 10px;
    transition: .2s margin ease-in-out, .4s opacity ease-in-out;

    &__link {
      display: block;
    }

    &__image {
      width: 100%;
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 0;
      min-width: 75%;
      max-width: 100%;
      padding: 5px 15px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, .7);

      @include respond-to(xs) {
        margin-left: -100%;
        transition: .4s margin ease-in-out;
      }
    }

    &:hover &__content {
      @include respond-to(xs) {
        margin-left: 0;
      }
    }

    &__heading,
    &__subheading {
      margin: 0;
      color: #fff;
      font-style: italic;

      @include respond-to(xs) {
        transition: .4s opacity ease-in-out .4s;
        opacity: 0;
      }
    }

    &:hover &__heading,
    &:hover &__subheading {
      @include respond-to(xs) {
        opacity: 1;
      }
    }

    &__heading {
      font-size: 1.8em;
    }

    &__subheading {
      @include respond-to(xs) {
        transition: .4s opacity ease-in-out .6s;
      }
    }
  }

  /* Infinite Scroll */
  &__show-more {
    margin-bottom: 10px;
    background-image: url("img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;

    .btn {
      transition: .2s opacity ease-in-out;
      opacity: 1;
    }
  }

  /* Animations */
  &__item,
  &__block {
    position: relative;
    overflow: hidden;

    &__image {
      transform: scale(1);
      transition: .4s transform ease-in-out;
    }

    &:hover &__image {
      transform: scale(1.1);
    }
  }
}
