.site-footer {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0 30px;
  background: #df70e2 url("img/footer-bg.jpg") repeat center center;
  background-size: cover;
  z-index: 1;

  .wreath-home-link {
    display: inline-block;
    width: 110px;
    height: auto;
  }

  .list-social-media {
    //scss-lint:disable SelectorDepth
    margin-top: 10rem;

    a:hover svg * {
      //scss-lint:disable ImportantRule
      fill: #ffd600 !important;
    }
  }
}
