.navbar-inverse {
  transition: .4s background-color ease-in-out;
  background-color: rgba(0, 0, 0, .95);
  font-family: $font__heading;
  z-index: 11111;

  @include respond-to(xs) {
    border-color: transparent;
    background-color: transparent;
  }

  .scrolled & {
    background-color: rgba(0, 0, 0, .95);
  }

  //scss-lint:disable SelectorDepth
  .navbar-nav>li>a {
    color: #fff;
  }
}

.navbar-header {
  //scss-lint:disable EmptyRule
}

.navbar-brand {
  width: 75px;
  height: auto;

  @include respond-to(xs) {
    width: 100px;
    padding: 15px;
    transition: .4s width ease-in-out, .4s padding ease-in-out;

    .scrolled & {
      width: 75px;
      padding: 10px;
    }
  }
}

.navbar-nav {
  @include respond-to(xs) {
    margin: 20px 0;
    transition: .4s margin ease-in-out;

    .scrolled & {
      margin: 10px 0;
    }
  }
}

.navbar-collapse {
  //scss-lint:disable ImportantRule
  @include respond-to(xs) {
    display: block !important;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }

  > div {
    @include respond-to(xs) {
      display: inline-block;
      margin-bottom: -5px;
      float: none;
    }
  }

  .navbar-header {
    .navbar-brand {
      margin-left: 0;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .menu-primary-menu-container .navbar-nav {
    @include respond-to(xs) {
      display: inline-block;
      float: right;
    }
  }

  .menu-secondary-menu-container .navbar-nav {
    @include respond-to(xs) {
      display: inline-block;
      float: left;
    }
  }
}
