.hero {
  overflow: hidden;

  &__slide {
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  &__content {
    position: relative;
    color: #fff;
    z-index: 1;

    @include respond-to(xs) {
      padding: 15rem 0;
    }

    &--blank {
      position: relative;
      padding: 15rem 0;
      opacity: 0;
    }
  }

  &__box {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, .68);
  }

  &__heading {
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-transform: uppercase;

    @include respond-to(xs) {
      font-size: 2.7rem;
    }
  }

  &__subheading {
    margin: 5px 0 0;
    color: #fff;
    letter-spacing: 2px;
  }

  &__slider {
    margin-bottom: 50px;

    .slick-arrow {
      opacity: 1;

      .fa {
        width: 60px;
        height: 60px;
        background-size: 60px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0;
        background-color: transparent;

        &:before {
          display: none;
        }
      }
    }

    .slick-prev .fa {
      background-image: url("img/scroll-arrow-to-left.png");
    }

    .slick-next .fa {
      background-image: url("img/scroll-arrow-to-right.png");
    }
  }

  &__parallax__container {
    &::after {
      display: block;
      position: relative;
      width: 100%;
      height: 50px;
      background-color: #fff;
      content: "";
      z-index: 11;
    }
  }

  &--full-height &__parallax &__content {
    padding: 15rem 0 10rem;

    @include respond-to(xs) {
      height: 600px;
      min-height: 100vh;
      padding: 0;
      transform: translateY(50%);

      //scss-lint:disable SelectorDepth
      > .container {
        transform: translateY(-50%);
      }
    }
  }

  &--full-height &__slide {
    height: 600px;
    min-height: 100vh;
  }

  &--tall &__slide {
    height: 500px;
    min-height: 70vh;
  }

  &--small &__slide {
    height: 400px;
    min-height: 50vh;
  }

  &--tall &__slide &__content,
  &--small &__slide &__content,
  &--full-height &__slide &__content {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    transform: translateY(-50%);
  }

  .form-email-sign-up {
    width: 100%;
    max-width: 400px;
    margin: 30px auto 15px;
  }
}
