.masonry {
  &__grid {
    margin-right: -5px;
    margin-left: -5px;
    transition: .2s opacity ease-in-out;
    opacity: 0;

    &--initialized {
      opacity: 1;
    }
  }

  &__grid-sizer,
  &__grid-item {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    float: none;

    @include respond-to(xs) {
      width: 33.33%;
    }
  }
}
