@import "slick-theme";
@import "slick-custom";
@import "widgets";
@import "content";
@import "header";
@import "hero";
@import "footer";
@import "featured";
// @import "masonry";
@import "post-item";
@import "sidebar";

.list-social-media {
  margin-bottom: 0;
}

.gallery {
  &__row {
    margin-right: -5px;
    margin-left: -5px;
  }

  &__block {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;

    &--tall &__link {
      @include respond-to(xs) {
        padding-top: 9px;
        padding-bottom: 150%;
      }
    }

    &__link {
      @include respond-to(xs) {
        display: block;
        position: relative;
        padding-bottom: 75%;
      }
    }

    &__bg {
      display: none;

      @include respond-to(xs) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-size: cover;
      }
    }

    &__img {
      @include respond-to(xs) {
        display: none;
      }
    }
  }
}

.btn {
  &--black {
    &,
    &:visited {
      background-color: #000;
      color: #fff;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

  &--secondary {
    &,
    &:visited {
      background-color: transparent;
      color: #000;
      border: 2px solid #000;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: #333;
      color: #fff;
    }
  }
}

.site-content {
  position: relative;
  /*padding-top: 50px;*/
  background-color: #fff;
  z-index: 1;
}

.post {
  &__container {
    padding: 7.5px;
    background-color: #fff;

    @include respond-to(xs) {
      padding: 25px;
    }
  }

  &__heading {
    position: relative;
    // margin-bottom: 30px;
    // padding-bottom: 30px;
    padding-bottom: 0;
    line-height: 1.3em;
    letter-spacing: 0px;

    &::after {
      display: none;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      width: 75px;
      height: 4px;
      transform: translateX(-50%);
      background: #000;
      content: "";
    }
  }

  &__heading + &__share {
    margin: 25px 0 15px;
    padding-top: 0;
  }

  &__subheading {
    color: #111;
    font-family: "Droid Serif", serif;
    letter-spacing: 2px;
  }

  &__share {
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;

    &::before {
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 50%;
      width: 75px;
      height: 4px;
      background-color: #111;
      transform: translateX(-50%);
      content: "";
    }

    ul {
      display: inline-block;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      position: relative;

      > .a2a_svg {
        border-radius: 50% !important;
      }

       > .a2a_count {
        margin: 5px 2.5px 0;
        float: none;
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto !important;
        height: 20px !important;

        &:before,
        &:after {
          display: none;
          top: 0;
          left: 50%;
          transform: rotate(45deg);
        }

        span {
          display: block;
          font-size: .8em;
          line-height: 20px;
        }
      }
    }

    svg {
      transform: scale(0.7);
    }
  }

  &__heading + &__share {
    margin-top: 25px;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  &__related {
    .featured__slider {
      padding-bottom: 50px;
    }
  }
}

.section-background {
  .hero {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__box {
      opacity: 0;
    }

    .slick-dots {
      opacity: 0;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: .6s background-color ease-in-out;
      content: "";
    }

    .scrolled &::after {
      background-color: rgba(0, 0, 0, .7);
    }
  }

  + div {
    /*
    pointer-events: none;

    .site-header,
    .post__container {
      pointer-events: auto;
    }
    */

    .post__container {
      box-shadow: 0 15px 50px rgba(0, 0, 0, .4);
    }

    .site-content {
      margin-top: 75vh;
      margin-bottom: 15vh;
      background-color: transparent;
    }
  }
}

.section-single,
.section-featured-slider {
  padding: 15px 0;
}

.section-gallery {
  padding: 30px 0;

  .section-single-artist & {
    margin: 15px 0 0;
    padding: 0;
  }
}

.section-post-share {
  .post__share {
    margin: 15px 0;
    padding: 0;

    &:before {
      display: none;
    }
  }
}

.section-archive {
  padding: 50px 0;
}

.section-featured-slider {
  h2 {
    margin-top: 0;
  }
}

.instafeed {

  &__item {
    margin-bottom: 10px;

    &__body {
      position: relative;
      overflow: hidden;
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      -webkit-transition: .4s -webkit-transform ease-in-out;
      transition: .4s transform ease-in-out;
      -webkit-transform: scale(1);
      transform: scale(1);
      backface-visibility: hidden;
    }

    &__link {
      display: block;
      position: relative;
      padding-bottom: 100%;

      &,
      &:visited,
      &:active,
      &:focus,
      &:hover {
        color: #fff;
      }
    }

    &:hover &__bg {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    .fa {
      position: absolute;
      top: 5px;
      right: 5px;
      -webkit-transition: .4s -webkit-transform ease-in-out;
      transition: .4s transform ease-in-out;
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }

    &:hover .fa {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);

    }
  }
}

.section-front-page {
  .post-item {
    margin-bottom: 15px;
    overflow: visible !important;

    @include respond-to(md) {
      margin-bottom: 45px;
    }
  }

  .post-item__header,
  .post-item__content {
    width: 100%;
    float: none;
  }

  .post-item__header {

    a {
      display: block;
      overflow: hidden;
    }

    img {
      -webkit-transition: .4s transform ease-in-out;
      transition: .4s transform ease-in-out;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    &:after {
      display: none;
    }
  }

  .post-item:hover .post-item__header img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .post-item__content {
    padding: 15px !important;
    background-color: #fff;
    text-align: center;

    @include respond-to(md) {
      position: absolute;
      width: auto;
      top: auto;
      right: 30px;
      bottom: -30px;
      left: 30px;
    }
  }

  .post-item__excerpt {
    // display: none;
  }
}

.home,
.page-id-1751 {
  .site-content {
    padding-top: 0;
    background-color: #fafafa;
  }
  .hero__slider {
    margin-bottom: 0;
  }

  .hero__content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
  }

  .hero__box {
    position: absolute;
    bottom: 7.5%;
    right: 7.5%;
  }

  .post-item,
  .sidebar__block,
  .featured__item__body {
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    overflow: hidden;
  }

  .featured__item {
    margin-bottom: 10px;
    overflow: visible;
  }

  .post-item__title {
    font-size: 18px;
  }

  .section-featured-slider {
    padding-bottom: 0;
  }
}

.latest-posts {
  /* Infinite Scroll */
  &__show-more {
    margin-bottom: 10px;
    background-image: url("img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;

    .btn {
      background: #fafafa;
      transition: .2s opacity ease-in-out;
      opacity: 1;

      &:active,
      &:focus,
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}