.post-item {
  position: relative;

  &__header,
  &__content {
    @include respond-to(xs) {
      width: 50%;
      float: right;
    }
  }

  &:nth-child(even) &__header,
  &:nth-child(even) &__content {
    @include respond-to(xs) {
      float: left;
    }
  }

  &__header {
    a {
      display: block;
    }

    &--video {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("img/icon-play.png") no-repeat center;
        background-size: 100px;
        opacity: .7;
        pointer-events: none;
        content: "";
      }
    }
  }

  &__header &__image {
    padding-bottom: 70%;
    background-size: cover;
    background-position: center;
    background-color: #f2f2f2;
  }

  &__content {
    padding: 25px;

    @include respond-to(xs) {
      padding: 0 50px 50px;
    }

    @include respond-to(sm) {
      padding: 25px 50px;
    }

    @media (min-width: 992px){
      padding: 90px 50px 25px;
    }
  }

  &:nth-child(odd) &__content {
    @include respond-to(xs) {
      padding-left: 0;
    }
  }

  &:nth-child(even) &__content {
    @include respond-to(xs) {
      padding-right: 0;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 24px;
  }

  &__excerpt {
    position: relative;

    p {
      margin-bottom: 0;
      padding-bottom: 15px;
    }

    &::after {
      //scss-lint:disable DuplicateProperty
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      $bg1: rgba(255, 255, 255, 0);
      $bg2: rgba(255, 255, 255, 1);
      background: linear-gradient($bg1, $bg2);
      background: none;
      content: "";
    }
  }

  &__btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
  }

  & + & {
    margin-top: 50px;
    padding-top: 50px;

    &::before {
      position: absolute;
      top: 0;
      right: 50%;
      width: 75px;
      height: 4px;
      transform: translateX(50%)translateY(-50%);
      background-color: #000;
      content: "";
    }
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.posts-navigation {
  .nav-previous,
  .nav-next {
    display: inline-block;

    a {
      &,
      &:visited {
        display: inline-block;
        margin: 25px 0;
        padding: 5px 15px;
        border-radius: 4px;
        background-color: #000;
        color: #fff;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: #333;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .nav-next {
    float: right;
  }
}

