.sidebar {
  &__block {
    background-color: #fff;

    &__body {
      position: relative;
      overflow: hidden;
    }

    &__link {
      display: block;

      &,
      &:active,
      &:focus,
      &:hover,
      &:visited {
        text-decoration: none;
        color: #fff;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform .4s ease-in-out;
      transition: transform .4s ease-in-out;
    }

    &__body:hover &__bg {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    &__content {
      position: relative;
      padding: 15px;
      text-align: center;
    }

    &--featured &__body {
      padding-top: 15rem;
      padding-bottom: 15rem;

      @include respond-to(md) {
        padding-top: 19rem;
        padding-bottom: 19rem;
      }
    }

    &--featured &__content {
      margin-right: 15px;
      margin-left: 15px;
      padding: 10px 5px;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      font-family: "Guayaki-Regular";
      text-align: center;
    }

    &--social-media {
      text-align: center;

      h4 {
        color: #222;
      }

      .list-social-media {
        svg {
          width: 30px !important;
          height: 30px !important;
        }
        .st0 {
          fill: #333;
        }
      }
    }
  }

  &__block + &__block {
    margin-top: 15px;
  }

  &__block:last-child {
    margin-bottom: 15px;
  }
}
