.slick-arrow {
  $arrowSize: 50px;
  $arrowWeight: 10px;
  $arrowColor: #ccc;
  $arrowBG: #000;

  top: 0;
  bottom: 0;
  width: 75px;
  height: auto;
  transform: none;
  transition: .2s opacity ease-in-out;
  border-radius: 0;
  opacity: 0;
  z-index: 1111;

  &:hover {
    opacity: 1;
  }

  &::before {
    display: none;
  }

  &.slick-prev {
    left: 0;
  }

  &.slick-next {
    right: 0;
  }

  .fa {
    display: inline-block;
    width: $arrowSize;
    height: $arrowSize;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: $arrowBG;
    line-height: $arrowSize;

    &::before {
      padding: 0;
      color: $arrowColor;
      font-size: 2.5rem;
    }
  }
}

.slick-dots {
  $size: 10px;
  bottom: 15px;

  li {
    width: $size;
    height: $size;

    button {
      display: inline-block;
      width: auto;
      height: auto;
      padding: 0;

      &::before {
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: #fff;
        content: "";
      }
    }
  }
}
