/****************************
********************** GLOBAL
****************************/

/* Moved into the scss build files */

blockquote::before, q::before {
    content: ' " ';
}

.site-content{
    padding-top: 30px;
}

p{
font-size: 1.1em;
}

a{
   color: inherit;
}

a:hover, a:active {
    outline: 0;
    text-decoration: none;
    color: #454545;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2px;
}

.btn{
    border-radius: 2px;
}

/****************************
********************** HEADER
****************************/

.navbar-toggle{
    margin-top: 15px;
    border: none;
    border-radius: 0;
    padding: 15px 15px;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a{
    color: #fff;
    background-color: transparent;
}


/****************************
********************** HERO
****************************/

.hero__content {
    padding: 10rem 0;
}

@media (min-width: 768px){
    .hero__content {
        padding: 24rem 0;
    }

    .hero__slider .slick-arrow {
       width: 20%;
    }
}

@media (max-width: 768px){
    .hero--full-height .hero__slide .hero__content{
        top: 33%;
    }
}

.home .hero__slider, .page-id-1751 .hero__slider {
    margin-bottom: 0;
    z-index: 1;
}

/*
.single-post .site-content{
    background: transparent;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.single-post.scrolled .site-content{
    background: rgba(0, 0, 0, 0.54);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
}

.single-post .hero {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: block;
}

.single-post #page .site-content {
    padding-top: 0;
    margin-top: 75vh;
}

.single-post #page .site-content .container .col-md-8 {
    margin-top: -80px;
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.44);
}

.single-post #page .site-content .section-gallery .container .col-md-8 {
    margin-top: -80px;
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0px 87px 15px rgba(0, 0, 0, 0.44);
}
*/

.featured__block__content{
    padding: 10px 15px;
}

.hero--about .list-social-media + p {
    margin: 0;
}

.hero__heading {
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 1.3;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    font-family: "Guayaki-Regular";
    background: #c4c4c4;
    color: #363636;
}

.hero__parallax__container::after {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    background-color: #fff;
    content: "";
    z-index: 11;
}
.hero__slider {
    margin-bottom: 20px;
}

.hero__content {
    padding: 10rem 0;
}

@media (min-width: 768px){
    .hero__content {
        padding: 20rem 0;
    }
}

/****************************
******************* HOME PAGE
****************************/

.featured__slider .slick-arrow {
    top: 0;
}
    
.featured__slider .slick-arrow.slick-next {
    left: 95%;
    right: auto;
}
.featured__slider .slick-arrow.slick-prev {
    left: auto;
    right: 95%;
}

.home .featured__item, .page-id-1751 .featured__item {
    outline: none;
}

@media (max-width: 768px){
	.featured__slider .slick-arrow.slick-next {
	    left: 90%;
	    right: auto;
	}
	.featured__slider .slick-arrow.slick-prev {
	    left: auto;
	    right: 90%;
	}
}

.home .post-item__title, .page-id-1751 .post-item__title {
    font-size: 15px;
}

.post-item__btn {
	display: none;
}

@media (min-width: 768px){
	.sidebar__block--social-media .list-social-media svg {
	    width: 50px !important;
	    height: 50px !important;
	}
	.sidebar__block--social-media .list-social-media{
		margin-left: 0;
	}
	
	.sidebar__block--social-media .list-social-media li{
		display: block;
		margin-top: 26px;
	}
	.hero--full-height .hero__slide .hero__content{
		top: 13%;
	}
}

body.home .section-background + div .site-content {
    margin-top: 90vh;
}

@media (max-width: 768px){
	.hero__link{
		height: 34vh;
	}
	.hero--full-height .hero__slide {
	    height: auto;
	    min-height: 34vh;
	    margin-top: 65px;
	}
	body.home .section-background + div .site-content {
	    margin-top: 44vh;
	}
	.sidebar__block--featured .sidebar__block__body {
	    padding-top: 28rem;
	    padding-bottom: 28rem;
	}
}

.section-front-page .post-item__content {
    padding: 7px 5px 0 !important;
    background-color: #fff;
    text-align: center;
}

.home .hero__box, .page-id-1751 .hero__box{
	opacity: 1;
}

/****************************
*************** CATEGORY PAGE
****************************/


/****************************
***************** ARTIST PAGE
****************************/

@media (min-width: 768px){
    .section-artist iframe{
        float: right;
    }
}


.section-single-post #mc_embed_signup{
	background: #efefef;
    clear: left;
    font: inherit;
    width: 100%;
    margin: auto;
    padding: 30px 15px 0;
 }

.section-single-post #mc_embed_signup input.email {
    font-family: inherit;
    font-size: 15px;
    border: 1px solid #9c9c9c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    height: 35px;
}

.section-single-post #mc-embedded-subscribe.button{
    border-radius: 2px;
    background-color: #383838;
}


