/*
* Usage: Anything you aren't proud of, or hope/plan to fix later. Hopefully empty, but useful for identifying pain points when it's not.
**/

body.home {
	.flexible-content {
		padding: 0 15px;
    background-color: #f5f5f5;
	}

	.section-featured-slider {
		// padding-top: 0;
	}

  @include respond-to(xs) {
	  .row--with-ads {
			display: flex;
		}

		.row--ads {
	    display: block;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding-bottom: 10px;
		}

    .sidebar__block--featured {
    }

		.sidebar__block {
	    height: 100%;
	    margin-bottom: 0;

	    .sidebar__block__link,
    	.sidebar__block__body {
		    display: block;
		    width: 100%;
		    height: 100%;
      }
		}
	}

  &.scrolled {
    .hero__slider {
      filter: blur(1.5rem);
    }

    .hero__slider .slick-arrow {
      opacity: 0;
    }
  }

  .section-background + div .site-content {
    margin-top: 85vh;
  }
}


.events-wrap {
  margin-bottom: 60px;
}

.events-toggle {
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #aaa;

  &__list {
    display: inline-block;
    margin-right: auto;
    margin-bottom: -1px;
    margin-left: auto;
    padding: 0;
    list-style: none;
    vertical-align: bottom;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__item {
    padding: 0;
    border: 1px solid #aaa;
    float: left;
    background: #fafafa;

    &.active {
      background: #fff;
      border-bottom: 1px solid transparent;
    }
  }

  &__item + &__item {
    border-left: 0;
  }

  &__link {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;

    @include respond-to(xs) {
      padding: 10px 30px;
    }

    &,
    &:visited {
      color: #333;
    }

    &:active,
    &:hover,
    &:focus {
      color: #000;
    }

    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}
