/*
* Usage: Utility classes that do not fit anywhere in particular into SMACSS (https://smacss.com/book/)
**/

@import "accessibility";
@import "alignments";
@import "clearings";

.row {
  &--condensed {
    margin-right: -5px;
    margin-left: -5px;

    > [class^="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
