/*
* Usage: https://smacss.com/book/type-base
**/

@import "underscores";
@import "typography";
@import "elements";
@import "forms";
@import "links";
@import "lists";
@import "tables";

html {
  background-color: #111;
}

body {
  background-color: #fff;
}
