/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: $color__link;
}

a:visited {
  color: $color__link-visited;
}

a:hover,
a:focus,
a:active {
  color: $color__link-hover;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}
