/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  /*font-size: 16px;*/
  /*font-size: 1rem;*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  clear: both;
  font-family: $font__heading;
}

p {
  margin-bottom: 1.5em;
  color: #454545;
  font-size: 1.2em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  //scss-lint:disable Shorthand
  position: relative;
  margin: 15px 0 30px 1.5em;
  border-left: 0;
  font-size: 21px;
  font-style: italic;
  opacity: .7;

  &::before {
    display: block;
    position: absolute;
    top: -80px;
    left: -81px;
    color: #dedede;
    font-family: "IM Fell Great Primer", serif;
    font-size: 300px;
    font-style: italic;
    content: ' " ';
    z-index: -3;
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  max-width: 100%;
  margin-bottom: 1.6em;
  padding: 1.6em;
  background: #eee;
  font-family: $font__pre;
  line-height: 1.6;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  /*font-size: 15px;*/
  /*font-size: .9375rem;*/
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}
