.site-content {
  &.has-sidebar {

    .content-area {
      @include respond-to(xs) {
        width: 70%;
        padding-right: 15px;
        float: left;
      }
    }

    .widget-area {
      @include respond-to(xs) {
        width: 30%;
        padding-left: 15px;
        float: right;
      }
    }
  }
}

.woocommerce {
  //scss-lint:disable IdSelector
  .no-sidebar #container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include respond-to(xs) {
      width: 750px;
    }

    @include respond-to(sm) {
      width: 970px;
    }

    @include respond-to(md) {
      width: 1170px;
    }
  }
}
